<header>
    <h1 class="center">Mittuniversitets kursutbud</h1>

    <p>Följande kurser finns att läsa på Mittuniversitetet:</p>

    <nav>
        <a href="my-courses.html">Mina kurser</a>
    </nav>
</header>

<main>
    <div class="search-container">
        <label>Sök kurs: <input type="text" id="search" placeholder="kurskod eller namn...">
        </label>
    </div>
    
    <table>
        <thead>
            <tr>
                <td>Kurskod</td>
                <td class="course-name">Namn</td>
                <td class="course-subject">Ämne</td>
                <td></td>
                <td>hp</td>
                <td>Instutition</td>
            </tr>
        </thead>
        <tbody id="courses_table">
        </tbody>
    </table>
</main>

<footer>
    <p class="center">
        Denna sida läser data från filen				
        <a href="http://localhost:3000/api/courses" target="blank">miun-db.json</a>.
    </p>
</footer>
