<header>
    <h1 class="center">Mittuniversitets kursutbud</h1>

    <p>Följande kurser finns att läsa på Mittuniversitetet:</p>

    <nav>
        <a routerLink="/mycourses">Mina kurser</a>
    </nav>
</header>

<main>
    <div class="search-container">
      
      <app-search-course (searchQuery)="onSearchQueryReceived($event)"></app-search-course>
        
    </div>
    
    <table>
        <thead>
            <tr>
                <td>Kurskod</td>
                <td class="course-name">Namn</td>
                <td class="course-subject">Ämne</td>               
                <td>Instutition</td>
            </tr>
        </thead>
        <tbody id="courses_table">
            <ng-container *ngIf="showAllCourses">
                <tr *ngFor="let course of courses">
                  <td>{{ course.courseCode }}</td>
                  <td class="course-name">{{ course.name }}</td>
                  <td class="course-subject">{{ course.subjectCode }}</td>                  
                  <td>{{ course.institutionCode }}</td>
                </tr>
              </ng-container>
          
              <ng-container *ngIf="!showAllCourses">
                <tr *ngFor="let course of filteredCourses">
                  <td>{{ course.courseCode }}</td>
                  <td class="course-name">{{ course.name }}</td>
                  <td class="course-subject">{{ course.subjectCode }}</td>                  
                  <td>{{ course.institutionCode }}</td>
                </tr>
              </ng-container>
        
          
    </table>
</main>

<footer>
    <p class="center">
        Denna sida läser data från filen				
        <a href="http://localhost:3000/api/courses" target="blank">miun-db.json</a>.
    </p>
</footer>

