<header>
    <h1 class="center">Mina kurser</h1>

    <p>Detta är mina kurser:</p>
   
    <nav>
        <a routerLink="/courses">Alla kurser</a>
    </nav>
</header>

<main>
    <div class="search-container">
        <app-search-course (searchQuery)="onSearchQueryReceived($event)"></app-search-course>
    </div>

    <div class="add-course-container">
        <app-add-my-course (courseAdded)="onCourseAdded($event)"></app-add-my-course>
       
    </div>   
    

    <table>
        <thead>
            <tr>
                <td>Kurskod</td>
                <td class="course-name">Namn</td>
                <td class="center">Mitt betyg</td>
                <!--<td class="center">Åtgärder</td>-->
            </tr>
        </thead>
        <tbody id="courses_table">
            <ng-container *ngIf="showAllMyCourses">
                <tr *ngFor="let mycourse of mycourses">
                    <td>{{ mycourse.courseCode }}</td>
                    <td class="course-name">{{ mycourse.name }}</td>
                    <!--<td class="center">{{ mycourse.grade }}</td>-->
                    <td class="center">
                        <select [(ngModel)]="mycourse.grade" (change)="editGrade(mycourse)">
                            <option *ngFor="let grade of grades" [value]="grade">{{ grade }}</option>
                        </select>
                        <!--<button (click)="removeCourse(mycourse)">Ta bort</button>-->
                        <!--<button (click)="editGrade(mycourse)">Redigera Betyg</button>-->
                    </td>
                    <td class="center">
                        <!--<button (click)="removeCourse(mycourse, mycourse.courseCode)">Ta bort</button>-->
                        <!--<button (click)="editGrade(mycourse)">Redigera Betyg</button>-->
                      </td>
                </tr>
            </ng-container>

            <ng-container *ngIf="!showAllMyCourses">
                <tr *ngFor="let mycourse of filteredMyCourses">
                    <td>{{ mycourse.courseCode }}</td>
                    <td class="course-name">{{ mycourse.name }}</td>
                    <!--<td class="center">{{ mycourse.grade }}</td>--> <!--Grade vill inte!!-->
                    <td class="center">
                        <button (click)="deleteMyCourse(mycourse.courseCode, mycourse)">Delete</button>
                        <!--<button (click)="editGrade(mycourse)">Redigera Betyg</button>-->
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <br>
   <!-- <div>-->
   <!--     <h3>Lägg till kurs</h3>-->
   <!--     <form id="newMyCourse">-->
   <!--         <label>Kurskod: <input type="text" name="courseCode" placeholder="ange kurskod"/></label>-->					
    <!--        <label>Betyg: <select id="newMyCourseSelect" name="grade"></select></label>-->
    <!--        <input type="button" id="newMyCourseSubmit" value="Lägg till kurs"/>-->
    <!--    </form>-->
    <!--</div>-->	
</main>
<footer>
    <p class="center">
        Denna sida läser data från filen
        <a href="http://localhost:3000/api/courses" target="_blank">miun-db.json</a>.
    </p>
</footer>
