<main>
    <h2>Lägg till kurs</h2>
    <form (ngSubmit)="addCourse()">
        <label for="courseCode">Kurskod:</label>
        <input type="text" id="courseCode" [(ngModel)]="courseCode" name="courseCode">
  
        <label for="grade">Betyg:</label>
        <select id="grade" [(ngModel)]="selectedGrade" name="grade">
            <option *ngFor="let grade of grades" [value]="grade">{{ grade }}</option>
        </select>

        <!-- Error-message -->
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  
        <button type="submit">Lägg till</button>
    </form>

</main>

